---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json

controllers:
  main:
    # -- Set the controller upgrade strategy
    strategy: RollingUpdate

    containers:
      main:
        image:
          # -- image repository
          repository: ghcr.io/gotify/server
          # -- image pull policy
          pullPolicy: IfNotPresent
          # -- image tag
          tag: 2.7.3

        # -- environment variables. [[ref]](https://gotify.net/docs/config#environment-variables)
        # @default -- See [values.yaml](./values.yaml)
        env:
          # -- Default admin username
          GOTIFY_DEFAULTUSER_NAME: admin
          # -- Default admin password
          GOTIFY_DEFAULTUSER_PASS: admin
          # -- Allow registration
          GOTIFY_REGISTRATION: "false"

        probes:
          # -- Configures liveness probe
          liveness:
            type: HTTP
            path: /health
          # -- Configures readiness probe
          readiness:
            type: HTTP
            path: /health

# -- Configures service settings for the chart.
# @default -- See [values.yaml](./values.yaml)
service:
  main:
    controller: main
    ports:
      http:
        port: 80

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See [values.yaml](./values.yaml)
  main:
    enabled: false
    # hosts:
    #   - host: chart-example.local
    #     paths:
    #       - path: /
    # tls:
    #   - secretName: chart-example.local-tls
    #     hosts:
    #       - chart-example.local

# -- Configure persistence settings for the chart under this key.
# @default -- See [values.yaml](./values.yaml)
persistence:
  data:
    enabled: false
    retain: true
    globalMounts:
      - path: /app/data
    accessMode: ReadWriteOnce
    size: 500Mi
    # storageClass: ""

# -- Enable and configure postgresql database subchart under this key.
#    [[ref]](https://github.com/bitnami/charts/tree/main/bitnami/postgresql)
# @default -- See [values.yaml](./values.yaml)
postgresql:
  enabled: false
  image:
    registry: docker.io
    repository: library/postgres
    tag: "17.6-bookworm"
  auth:
    database: gotify
    postgresPassword: gotify
  primary:
    persistence:
      enabled: false
      # storageClass: ""
      # size: 8Gi
