---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json

controllers:
  main:
    # -- Set the controller upgrade strategy
    strategy: Recreate

    containers:
      # Configure the main application container
      main:
        image:
          # -- image repository
          repository: ghcr.io/dani-garcia/vaultwarden
          # -- image pull policy
          pullPolicy: IfNotPresent
          # -- image tag
          tag: 1.34.3

        # -- environment variables. [[ref]](https://github.com/dani-garcia/vaultwarden/blob/main/.env.template)
        # @default -- See [values.yaml](./values.yaml)
        env:
          ADMIN_TOKEN: ""
        
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            memory: 256Mi

        probes:
          # -- Configures liveness probe
          liveness:
            type: HTTP
            path: /alive
          # -- Configures readiness probe
          readiness:
            type: HTTP
            path: /alive

# -- Configures service settings for the chart.
# @default -- See [values.yaml](./values.yaml)
service:
  main:
    controller: main
    ports:
      http:
        port: 80

# -- Enable and configure ingress settings for the chart under this key.
# @default -- See [values.yaml](./values.yaml)
ingress:
  main:
    enabled: false
    # hosts:
    #   - host: chart-example.local
    #     paths:
    #       - path: /
    # tls:
    #   - secretName: chart-example.local-tls
    #     hosts:
    #       - chart-example.local

# -- Configure persistence settings for the chart under this key.
# @default -- See [values.yaml](./values.yaml)
persistence:
  data:
    enabled: false
    retain: true
    accessMode: ReadWriteOnce
    size: 500Mi
    globalMounts:
      - path: /data
    # storageClass: ""
