name: Lint and Test

on:
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install helm
        uses: azure/setup-helm@v4

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Add repositories
        run: |
          for dir in $(ls -d charts/*/); do
            helm dependency list $dir 2> /dev/null | tail +2 | head -n -1 | \
            awk '$3 !~ /^oci:\/\// {print "helm repo add " $1 " " $3 " --force-update"}' | \
            while read cmd; do $cmd; done
          done

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${TARGET_BRANCH})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi
        env:
          TARGET_BRANCH: ${{ github.event.repository.default_branch }}

      - name: Run chart-testing
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${TARGET_BRANCH} --validate-maintainers=false
        env:
          TARGET_BRANCH: ${{ github.event.repository.default_branch }}
